doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    block style
    script(src='/javascripts/jquery.js')
    script(src='/bootstrap/js/bootstrap.js')
    block scripts
  body
    block content
